<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stageInfo">
	<select id="selectStageInfo" resultType="Foo">
		select id,
		username
		from user where id='1';
	</select>

	<insert id="insert" parameterType="Foo" useGeneratedKeys="true"
		keyProperty="id">
		insert into messages(
		`user`,
		`msg`
		) values (
		#{username},
		#{message}
		);
	</insert>

	<select id="selectFoo" resultType="Foo">
	  <![CDATA[
	 	select id,user as username,msg as message
	 	from messages
	 	where #{time} < id;
	 ]]>
	</select>
</mapper>